{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<h2>Сброс пароля</h2>
{% if validlink %}
    <p>Пожалуйста, введите ваш новый пароль дважды:</p>
    <form action="." method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='Сменить пароль' %}{% endbuttons %}
    </form>
{% else %}
    <p>Ссылка на сброс пароля не актуальна, т.к. возможно ранее был произведён сброс. Пожалуйста <a href="{% url 'main:password_reset_request' %}">запросите новую ссылку на сброс пароля</a></p>
{% endif %}
{% endblock %}