<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Главная{% endblock %} - блог</title>
</head>
<body>
    <ol>
        {% if user.is_authenticated %}
        <li><a href="{% url 'main:logout' %}">Выход</a></li>
        {% else %}
        <li><a href="{% url 'main:login' %}">Вход</a></li>
        <li><a href="{% url 'main:registration' %}">Регистрация</a></li>
        {% endif %}
    </ol>
    <br>
    <br>
    {% block content %}
    {% endblock %}
</body>
</html>